<html>
    <head>
        <title>256mbp blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">256mbp Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Первая запись</a></h2>
            <p>Почему в обучающих материалах пишут 'NAME': os.path.join(BASE_DIR, 'db.sqlite3'), а
            в создающемся проекте 'NAME': BASE_DIR / 'db.sqlite3' ?
Это изменилась возможность писать путь к главной директории?</p>
        </div>

        <div>
            <p>опубликовано: 14.06.2022, 12:14</p>
            <h2><a href="">Вопрос номер три</a></h2>
            <p>Как прописывать подкаталоги и маршрутизацию на них в программе?(Например, я хочу, что бы все приложения были внутри папки проекта, в папке apps, разбитые по своим каталогам)Есть ли в этом смысл?</p>
        </div>
    </body>
</html>